/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background:#ffffff; font-size: 13px; color: #666666; font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; }
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}	
a, img { outline: none; border:none; color: #000; font-weight: bold; }
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { display: block; margin-bottom: 10px;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}
	
/* Structure */
#wrapper {
	width: 96%;	
	max-width: 1080px;
	margin: auto;
	padding: 2%;
	} 
	
	
@media all and (min-width: 1000px) {

	body { background-color: yellow !important; }
	#main {
		width: 55%;
		float: left;
		margin-left:20px;
		margin-top:10px;
		}		
	
	#main  .slider {
		width:100%; 
		margin: 0 auto;
	}
	
	#row1_container {
		width:100%;
	}
	
	#row2_container {
		width:100%;
		font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	}
	
	.reader_bg {
		background: url('../images/reader_bg.png') no-repeat; 
		height:37px;
	}
	
	.sun_times_bg {
		background: url('../images/sun_times_bg.png') no-repeat;
		height:37px;
	}
	
	.agenda_box_left {
		width:60%;
		float:left;
	}
	
	.agenda_box_right {
		width: 35%;
		float:right;
	}
	
	.agenda_bg {
		background: url('../images/agenda_bg.png') no-repeat;
		height:37px;
	}
	
	.agenda ul {
		width: 300px;
		text-align:right;
		font-family:Arial, Tahoma;
	}
	
	.agenda a {
		font-weight:bold;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	.agenda span {
		color: #CCCCCC;
	}
	
	.agenda li {
		height:150px;
		margin-top:20px;
	}
	
	.agenda p {
		font-family:'Tahoma';
		font-size: 14pt;
		line-height:.5em;
		
	}
	
	.agenda img{
		max-width:160px;
		float:left;
		padding-right:10px;
	}
	
	.buffer {
		margin-top:20px;
	}
	
	.essentials ul {
		width: 100px;
		text-align:right;
		display:inline;
	}
	
	.essentials ul h4 {
		font-size:14pt;
		text-indent:20px;
	}
	
	.essentials ul span {
		color: rgb(90, 90, 90);
	}
	
	.essentials li {
		min-height: 40px;
		margin-top:20px;
		line-height:1.0em;
		
	}
	
	.essentials li p,h4 {
		line-height:.7em;
		margin-left:20px;
	}
	
	.essentials a {
		font-weight:bold;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	.essentials span {
		color: #CCCCCC;
	}
	
	.essentials img {
		float:left;
		width:28px;
		
	}
	
	.entertainment ul {
		width: 330px;
		text-align:right;
		
	}
	
	.entertainment a {
		font-weight:bold;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	.entertainment span {
		color: #CCCCCC;
	}
	
	.entertainment li {
		min-height:150px;
	}
	
	.entertainment img{
		max-width:160px;
		float:left;
		padding:5px;
	}
	
	
	aside {
		width: 35%;
		float: right;
		}
		
		.slider_box {
			height: 275px;
		}
		
		.slider_box .description {
			margin-top:20px;
		}
		
		.slider_box .review {
			margin-top: 100px;
		}
		
		.cst_slider_box {
			height: 275px;
			margin-top:10px;
		}
		
		
	.agenda_video_left {
		width:50%;
		float:left;
	}
	
	.agenda_video_right {
		width: 45%;
		float:right;
		margin-top:15px;
	}
	
	.agenda_video_right .agenda_right ul {
		width: 160px;
		text-align:right;
	}
	
	.agenda_video_right .agenda_right li {
		min-height: 100px;
	}
	
	.agenda_video_right .agenda_right a {
		font-weight:normal;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	.agenda_video_right .agenda_right ul img {
		float:right;
		width:50%;
	}
	
	.agenda_video_right .agenda_right span {
		color: #CCCCCC;
	}
	
	.agenda_video_right .agenda_right img {
		float:left;
	} 
	
	.camera {
		width:20px;
		height:18px;
		float:right !important;
	}
	
	#footer {
		margin: 0 auto;
		text-align: center;
	}
	
	#footer img {
		margin: auto;
	}

/* Logo H1 */
header h1 {
	height: 70px;
	width: 160px;
	float: left;
	display: block;
	background: url(../images/demo.gif) 0 0 no-repeat;
	text-indent: -9999px;
	}
		
/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}

/* Banner */			

#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	height:275px;
	background-image: url(../images/header_bg.png);
	}
	
	.leaderboard img{
		margin:0 auto;
		margin-top:15px;
	}
	
	.banner img {
		text-align:center;
		margin:auto;
	}
}

@media all and (min-width: 601px) and (max-width: 949px) {
body { background: blue !important; }
	#main {
		width: 55%;
		float: left;
		margin-left:20px;
		margin-top:10px;
		}		
	
	#main  .slider {
		width:100%; 
		margin: 0 auto;
	}
	
	#row1_container {
		width:100%;
	}
	
	#row2_container {
		width:100%;
		font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	}
	
	.reader_bg {
		background: url('../images/reader_bg.png') no-repeat; 
		height:37px;
	}
	
	.sun_times_bg {
		background: url('../images/sun_times_bg.png') no-repeat;
		height:37px;
	}
	
	.agenda_box_left {
		width:60%;
		float:left;
	}
	
	.agenda_box_right {
		width: 35%;
		float:right;
	}
	
	.agenda_bg {
		background: url('../images/agenda_bg.png') no-repeat;
		height:37px;
	}
	
	.agenda ul {
		width: 300px;
		text-align:right;
		font-family:Arial, Tahoma;
	}
	
	.agenda a {
		font-weight:bold;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	.agenda span {
		color: #CCCCCC;
	}
	
	.agenda li {
		height:150px;
		margin-top:20px;
	}
	
	.agenda p {
		font-family:'Tahoma';
		font-size: 14pt;
		line-height:.5em;
		
	}
	
	.agenda img{
		max-width:160px;
		float:left;
		padding-right:10px;
	}
	
	.buffer {
		margin-top:20px;
	}
	
	.essentials ul {
		width: 100px;
		text-align:right;
		display:inline;
	}
	
	.essentials h4 {
		font-size:10px;
		text-indent:0px;
	}
	
	.essentials ul span {
		color: rgb(90, 90, 90);
	}
	
	.essentials li {
		min-height: 50px;
		margin-top:20px;
		line-height:1.0em;
		
	}
	
	.essentials li p,h4 {
		line-height:.7em;
		
	}
	
	.essentials a {
		font-weight:bold;
		font-size:10px;
		text-decoration:none;
		color: #000000;
		
	}
	
	.essentials span {
		color: #CCCCCC;
	}
	
	.essentials img {
		float:left;
		width:28px;
		
	}
	
	ul#entertainment {
		width: 330px;
		text-align:right;
		
	}
	
	.entertainment a {
		font-weight:bold;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	.entertainment span {
		color: #CCCCCC;
	}
	
	.entertainment li {
		min-height:150px;
	}
	
	.entertainment img{
		max-width:160px;
		float:left;
		padding:5px;
	}
	
	.entertainment p {
		line-height:.8em;
	}
	
	
	aside {
		width: 35%;
		float: right;
		}
		
		.slider_box {
			height: 275px;
		}
		
		.slider_box .description {
			margin-top:10px;
		}
		
		.slider_box .review {
			margin-top: 50px;
		}
		
		
	.agenda_video_left {
		width:50%;
		float:left;
	}
	
	.agenda_video_left img {
		width:100%;
	}
	
	.agenda_video_right {
		width: 45%;
		float:right;
		margin-top:15px;
	}
	
	.agenda_video_right .agenda_right ul {
		width: 160px;
		text-align:right;
	}
	
	.agenda_video_right .agenda_right li {
		min-height: 100px;
	}
	
	.agenda_video_right .agenda_right a {
		font-weight:normal;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	
	.agenda_video_right .agenda_right span {
		color: #CCCCCC;
	}
	
	.agenda_video_right .agenda_right img {
		float:left;width:154px;
	} 
	
	#camera {
		width:20px;
		height:18px;
		float:right !important;
	}
	
	#footer {
		margin: 0 auto;
		text-align: center;
	}
	
	#footer img {
		margin: auto;
	}

/* Logo H1 */
header h1 {
	height: 70px;
	width: 160px;
	float: left;
	display: block;
	background: url(../images/demo.gif) 0 0 no-repeat;
	text-indent: -9999px;
	}
		
/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}

/* Banner */			

#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	background-image: url(../images/header_bg.png);
	}
	
	.leaderboard img{
		margin:0 auto;
		margin-top:15px;
		width:50%;
	}
	
	.banner img {
		text-align:center;
		margin:auto;
		width:100%;
	}

		
/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}
	
	strong {
		font-size:14px;
		}
		
		#rightside_ad img {
			width:90%;
		}
}


@media all and (min-width: 481px) and (max-width: 600px) {
body { background: red !important; }
#main .slider {
		width: 100%;
	}
	
#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	height:135px;
	background-image: url(../images/header_bg.png);
	}
	
	#banner img {
		width: 50%;
		margin:0 auto;
		position:relative;
		margin-top:50px;
		}
	.leaderboard {
		width:400px;
		border:1px solid black;
		height:50px;
		position: relative;
		margin:0 auto;
		display:none;
	}
	
	.leaderboard img {
		width:100%;
	}
	
	.slider_box .review {
			margin-top: 0px;
		}
		
	#footer img {
		margin: auto;
		width:100%;
	}
}

/* Media Queries */
@media screen and (max-width: 480px) {

	#skipTo {
		display: block;
		}
	
	header nav, #main, aside {
		float: left;
		clear: left;
		margin: 0 0 10px; 
		width: 100%;
		}	
		header nav li {
			margin: 0;
			background: #efefef;
			display: block;
			margin-bottom: 3px;
			}
			header nav a {
				display: block;
				padding: 10px;
				text-align: center;
				}			
				#footer {
		margin: 0 auto;
		text-align: center;
	}
	
	#main .slider {
		width: 100%;
	}
	#footer img {
		margin: auto;
		width:100%;
	}
	
	#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	height:275px;
	background-image: url(../images/header_bg.png);
	}
	
	.leaderboard img{
		margin:0 auto;
		margin-top:15px;
		width:50%;
	}
	
	#banner img {
		text-align:center;
		margin:auto;
		width:100%;
	width:100%;
	}

	.footer-links-content {
		display:none !important;
	}
}