/**********************************
*	The Chicago Reader Agenda *
* 	StyleSheet		  *
* 	A Wrapports Production    *
***********************************/
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background:#ffffff; font-size: 13px; color: #666666; font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; }
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}	
a, img { outline: none; border:none; color: #000; font-weight: bold; }
p { margin: 0 0 11px; line-height: 1.4em; font-size: 1.2em;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}
	
/* Structure */

.agenda_box_right strong {
	font-weight:bold;
}

.agenda_box_left strong {
	font-weight:bold;
}	

.cst_slider_box strong {
	font-weight:bold;
}

.leaderboard {
	width: 100% !important;
}

@media all and (min-width: 981px) {
	#wrapper {
	width: 96%;	
	max-width: 1080px;
	margin: auto;
	padding: 2%;
	overflow: hidden;
	} 
	
	/* body { background-color: yellow !important; } */
	#main, #main2, #main3 {
		width: 55%;
		float: left;
		margin-left:20px;
		margin-top:10px;
		}		
	
	#main  .slider, #main2  .slider, #main3  .slider {
		width:100%; 
		margin: 0 auto;
	}
	
	#row1_container {
		width:100%;
	}
	
	#row2_container {
		width:100%;
		font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	}
	
	
	.reader_bg {
		background: url('images/reader_bg.png') no-repeat; 
		height:37px;
	}
	
	.sun_times_bg {
		background: url('images/sun_times_bg.png') no-repeat;
		background-size:100%;
		height:37px;
	}
	
	.picthforkrecape_wrapper {
		margin-top: -180px; 
		padding-bottom: 30px; 
		position: relative;	
	}
	
	.picthforkrecape_bg {
		background: url('images/picthforkrecape2.png') no-repeat;
		background-size:100%;
		height:35px;
		margin-bottom: 10px;
	}
	
	.agenda_box_left {
		width:60%;
		float:left;
	}
	
	.agenda_box_right {
		width: 35%;
		float:right;
	}
	
	.agenda_bg {
		background: url('images/agenda_bg.png') no-repeat;
		background-size: 100%;
		height:37px;
		margin-bottom: 15px;
	}
	
	.agenda ul {
		width: 300px;
		text-align:right;
		font-family:Helvetica;
	}
	
	.agenda a {
		font-family:Helvetica;
		font-weight:normal;
		font-size:12px;
		text-decoration:none;
		color: #000000;
		line-height:1.0em;
	}
	
	.agenda span {
		color: #CCCCCC;
	}
	
	.agenda li {
		height:150px;
		margin-top:20px;
	}
	
	.agenda p {
		font-family:'Helvetica';
		font-size: 14pt;
		line-height:.5em;
		
	}
	
	.agenda img{
		max-width:160px;
		float:left;
		padding-right:10px;
	}
	
	.buffer {
		margin-top:20px;
	}
	
	.essentials ul {
		width: 100px;
		text-align:right;
		display:inline;
	}
	
	.essentials ul h4  {
		font-size:14pt;
		text-indent:20px;
		color: black;
	}
	
	a#agenda_header {
		font-size:14pt;
		text-indent:20px;
		color: rgb(102, 102, 102);
	}
	
	.essentials ul span {
		color: rgb(90, 90, 90);
	}
	
	.essentials li {
		min-height: 40px;
		margin-top:20px;
		line-height:1.0em;
		
	}
	
	.essentials li p,h4 {
		line-height:.9em;
		margin-left:20px;
	}
	
	.essentials a {
		font-weight:normal;
		font-size:14px;
		font-family:Times New Roman;
		text-decoration:none;
		color: rgb(102, 102, 102) !important;
	}
	
	.essentials h4 a {
		font-family:Times New Roman;
		font-weight:bold;
		font-size:10pt;
		text-indent:20px;
		color: black !important;
	}
	
	.essentials span {
		color: #CCCCCC;
	}
	
	.essentials img {
		float:left;
		width:28px;
		
	}
	
	.entertainment ul {
		width: 330px;
		text-align:right;
		
	}
	
	.entertainment a {
		font-weight:normal;
		font-size:12px;
		font-family:Helvetica;
		text-decoration:none;
		color: #000000;
	}
	
	.entertainment span {
		color: #CCCCCC;
	}
	
	.entertainment li {
		min-height:120px;
	}
	
	.entertainment img{
		max-width:160px;
		float:left;
		padding:5px;
	}
	
	
	aside {
		width: 27%;
		float: right;
		margin-right:100px;
		}
		
		.slider_box {
			height: 275px;
		}
		
		.slider_box .description {
			margin-top:20px;
		}
		
		.slider_box .review {
			margin-top: 100px;
		}
		
		.cst_slider_box {
			margin-top:10px;
		}
		
		.cst_slider_box img {
			/*width:100px;*/
		}

		#rightside_ad {
			width:100%;
		}
		
		
	.agenda_video_left {
		width:50%;
		float:left;
	}
	
	.agenda_video_left img {
		width:100%;
	}
	
	.agenda_video_right {
		width: 45%;
		float:right;
		margin-top:15px;
	}
	
	.agenda_video_right .agenda_right ul {
		width: 160px;
		text-align:right;
	}
	
	.agenda_video_right .agenda_right li {
		min-height: 100px;
	}
	
	.agenda_video_right .agenda_right a, p {
		font-weight:normal;
		font-size:12px;
		text-decoration:none;
		color: #000000;
		font-family:Helvetica;
		line-height:1.0em;
	}
	
	.agenda_video_right .agenda_right ul img {
		float:right;
		width:50%;
	}
	
	.agenda_video_right .agenda_right span {
		color: #CCCCCC;
	}
	
	.agenda_video_right .agenda_right img {
		float:left;
	} 
	
	#camera {
		width:20px;
		height:18px;
		float:right !important;
	}
	
	#footer {
		margin: 0 auto;
		text-align: center;
	}
	
	#footer img {
		margin: auto;
	}

/* Logo H1 */
header h1 {
	height: 70px;
	width: 160px;
	float: left;
	display: block;
	background: url(images/demo.gif) 0 0 no-repeat;
	text-indent: -9999px;
	}
		
/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}

/* Banner */			

#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	background-image: url('images/header_bg.png');
	}

	.leaderboard img{
		margin:0 auto;
		margin-top:15px;
		display:block;
	}
	
	.banner img {
		text-align:center;
		margin:auto;
		display:block;
	}
	
	#top1 {
		text-align:center !important;
		padding:2px;
		width: 728px;
		height: 90px;
		margin: 0 auto;
		background-size: 728px auto;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
	.picthforkrecape_wrapper {margin-top: -130px;}
}

@media all and (min-width: 601px) and (max-width: 980px) {
/* body { background: blue !important; } */
	#main, #main2, #main3 {
		width: 55%;
		float: left;
		margin-left:20px;
		margin-top:10px;
		}		
	
	#main  .slider, #main2 .slider, #main3  .slider {
		width:100%; 
		margin: 0 auto;
	}
	
	#row1_container {
		width:100%;
	}
	
	#row2_container {
		width:100%;
		font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	}
	
	.reader_bg {
		background: url('images/reader_bg.png') no-repeat; 
		height:37px;
	}
	
	.sun_times_bg {
		background: url('images/sun_times_bg.png') no-repeat;
		height:37px;
	}
	
	.picthforkrecape_wrapper {
		margin-top: -100px; 
		padding-bottom: 30px; 
		position: relative;	
	}
	.picthforkrecape_bg {
		background: url('images/picthforkrecape2.png') no-repeat;
		height:35px;
		margin-bottom: 10px;
	}
	
	.agenda_box_left {
		width:60%;
		float:left;
	}
	
	.agenda_box_right {
		width: 35%;
		float:right;
	}
	
	.agenda_bg {
		background: url('images/agenda_bg.png') no-repeat;
		height:37px;
		margin-bottom: 5px;
	}
	
	.agenda ul {
		width: 300px;
		text-align:right;
		font-family:Helvetica;
	}
	
	.agenda a {
		font-family: Helvetica;
		font-weight: normal;
		font-size: 12px;
		text-decoration: none;
		color: rgb(0, 0, 0);
		line-height: 1em;
	}
	
	.agenda span {
		color: #CCCCCC;
	}
	
	.agenda li {
		height:150px;
		margin-top:20px;
	}
	
	.agenda p {
		font-family:'Helvetica';
		font-size: 14pt;
		line-height:.5em;
		
	}
	
	.agenda img{
		max-width:160px;
		float:left;
		padding-right:10px;
	}
	
	.buffer {
		margin-top:20px;
	}
	
	.essentials ul {
		width: 100px;
		text-align:right;
		display:inline;
	}
	
	.essentials a {
		font-weight:normal;
		font-size:14px;
		font-family:Times New Roman;
		text-decoration:none;
		color: rgb(102, 102, 102) !important;
	}
	
	.essentials h4 a {
		font-family:Times New Roman;
		font-weight:bold;
		font-size:10pt;
		text-indent:20px;
		color: black !important;
	}
	
	a#agenda_header {
		font-size:14pt;
		text-indent:20px;
		color: rgb(102, 102, 102);
	}
	
	.essentials ul span {
		color: rgb(90, 90, 90);
	}
	
	.essentials li {
		min-height: 50px;
		margin-top:20px;
		line-height:1.0em;
		
	}
	
	.essentials li p,h4 {
		line-height:.9em;
		
	}
	
	.essentials span {
		color: #CCCCCC;
	}
	
	.essentials img {
		float:left;
		width:28px;
		
	}
	
	ul#entertainment {
		width: 330px;
		text-align:right;
		
	}
	
	.entertainment a {
		font-weight:normal;
		font-family:Helvetica;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	.entertainment span {
		color: #CCCCCC;
	}
	
	.entertainment li {
		min-height:150px;
	}
	
	.entertainment img{
		max-width:160px;
		float:left;
		padding:5px;
	}
	
	.entertainment p {
		line-height:.8em;
	}
	
	
	aside {
		width: 35%;
		float: right;
		}
		
		.slider_box {
			height: 275px;
		}
		
		.slider_box .description {
			margin-top:10px;
		}
		
		.slider_box .review {
			margin-top: 50px;
		}
		
		
	.agenda_video_left {
		width:50%;
		float:left;
	}
	
	.agenda_video_left img {
		width:100%;
	}
	
	.agenda_video_right {
		width: 45%;
		float:right;
		margin-top:15px;
	}
	
	.agenda_video_right .agenda_right a, p {
		font-weight:normal;
		font-size:12px;
		text-decoration:none;
		color: #000000;
		font-family:Helvetica;
		line-height:1.0em;
	}
	
	.agenda_video_right .agenda_right ul {
		width: 160px;
		text-align:right;
	}
	
	.agenda_video_right .agenda_right li {
		min-height: 100px;
	}
	
	.agenda_video_right .agenda_right a {
		font-weight:normal;
		font-size:10px;
		text-decoration:none;
		color: #000000;
	}
	
	
	.agenda_video_right .agenda_right span {
		color: #CCCCCC;
	}
	
	.agenda_video_right .agenda_right img {
		float:left;width:154px;
	} 
	
	#camera {
		width:20px;
		height:18px;
		float:right !important;
	}
	
	#footer {
		margin: 0 auto;
		text-align: center;
	}
	
	#footer img {
		margin: auto;
	}

/* Logo H1 */
header h1 {
	height: 70px;
	width: 160px;
	float: left;
	display: block;
	background: url('images/demo.gif') 0 0 no-repeat;
	text-indent: -9999px;
	}
		
/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}

/* Banner */			

#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	background-image: url('images/header_bg.png');
	}
	
	.leaderboard img{
		margin:0 auto;
		margin-top:15px;
		width:70%;
		display:block;
	}
	
	.leaderboard {
		width:100% !important;
	}
	
	.banner img {
		text-align:center;
		margin:auto;
		width:100%;
	}
	
	#footer-links-wrapper {
		display:none !important;
	}
	
	.pubs-sub-footer-gray {
		display:none !important;
	}

		
/* Nav */
header nav {
	float: right;
	margin-top: 40px; 
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}
	
	strong {
		font-size:14px;
		}
		
		#rightside_ad img {
			width:90%;
		}
}


@media all and (min-width: 481px) and (max-width: 600px) {

#main .slider, #main2  .slider, #main3  .slider {
		width: 100%;
	}
	
#banner {
	float: left;
	margin-bottom: 15px;
	height:135px;
	background-image: url('images/header_bg.png');
	}
	
	#banner img {
		width: 50%;
		margin:0 auto;
		position:relative;
		margin-top:50px;
	}
	
	.leaderboard {
		width:400px;
		border:1px solid black;
		height:50px;
		position: relative;
		margin:0 auto;
		display:none;
	}
	
	.leaderboard img {
		width:100%;
	}
	
	.slider_box .review {
			margin-top: 0px;
		}
		
	#footer img {
		margin: auto;
		width:100%;
	}
	
}

/* Media Queries */
@media screen and (max-width: 480px) {
	#top1 {display:none;}
    .agenda_bg {
		background: url('images/agenda_bg.png') no-repeat;
		height: 37px;
		margin-bottom: 3px;
	}
	
	.picthforkrecape_bg {
		background: url('images/picthforkrecape2.png') no-repeat;
		height:35px;
		margin-bottom:10px;
	}
	
	.picthforkrecape_wrapper {
		margin-top: 50px; 
		padding-bottom: 30px; 
		position: relative;	
	}
	
	.cst_slider_box  {margin-left: 10px;}
	
	.sun_times_bg {
		background: url('images/sun_times_bg.png') no-repeat;
		height:37px;
	}
	
	.reader_bg {
		background: url('images/reader_bg.png') no-repeat; 
		height:37px;
	}
	#skipTo {
		display: block;
		}
	
	header nav, #main, aside {
		float: left;
		clear: left;
		margin: 0 0 10px; 
		width: 100%;
		}	
		header nav li {
			margin: 0;
			background: #efefef;
			display: block;
			margin-bottom: 3px;
			}
			header nav a {
				display: block;
				padding: 10px;
				text-align: center;
				}			
				#footer {
		margin: 0 auto;
		text-align: center;
	}
	
	#main .slider, #main2  .slider, #main3  .slider {
		width: 100%;
	}
	
	.essentials ul span {
		color: rgb(90, 90, 90);
	}
	
	.essentials li {
		min-height: 40px;
		margin-top:20px;
		line-height:1.0em;
		
	}
	
	.essentials li p,h4 {
		line-height:.7em;
		margin-left:20px;
	}
	
	.essentials a {
		font-weight:normal;
		font-size:14px;
		font-family:Times New Roman;
		text-decoration:none;
		color: rgb(102, 102, 102) !important;
	}
	
	.essentials h4 a {
		font-family:Times New Roman;
		font-weight:bold;
		font-size:10pt;
		text-indent:20px;
		color: black !important;
	}
	
	.essentials span {
		color: #CCCCCC;
	}
	
	.agenda ul {
		width: 300px;
		text-align:right;
		font-family:Helvetica;
	}
	
	.agenda a {
		font-family:Helvetica;
		font-weight:normal;
		font-size:12px;
		text-decoration:none;
		color: #000000;
		line-height:1.0em;
	}
	
	.agenda span {
		color: #CCCCCC;
	}
	
	.agenda li {
		height:150px;
		margin-top:20px;
	}
	
	.agenda p {
		font-family:'Helvetica';
		font-size: 14pt;
		line-height:.5em;
		
	}
	
	.agenda img{
		max-width:160px;
		float:left;
		padding-right:10px;
	}
	
	.agenda_video_left img {
		width:90%;
	}
	
	.entertainment a {
		font-weight:normal;
		font-size:11px;
		font-family:Helvetica;
		text-decoration:none;
		color: #000000;
	}
	
	.entertainment span {
		color: #CCCCCC;
	}
	
	.entertainment li {
		min-height:150px;
	}
	
	.entertainment img{
		max-width:160px;
		float:left;
		padding:5px;
	}
	
	.entertainment p {
		line-height:.8em;
	}
	
	.agenda_video_right .agenda_right a, p {
		font-weight:normal;
		font-size:12px;
		text-decoration:none;
		color: #000000;
		font-family:Helvetica;
		line-height:1.0em;
	}
	
	
	#footer img {
		margin: auto;
		width:100%;
	}
		#footer-links-wrapper {
		display:none !important;
	}
	
	.pubs-sub-footer-gray {
		display:none !important;
	}
	
	#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	background-image: url('images/header_bg.png');
	}
	
	.leaderboard {
		width:100% !important;
	}
	
	.leaderboard img{
		width:90%;
		display:block;
		margin:auto;
	}


	.footer-links-content {
		display:none !important;
	}
}


/*
#footer-search-wrapper {
	background: url('http://www.suntimes.com/csp/cms/sites/STM/assets/img/footer-backgrounds.jpg') repeat-x 0 0;
	height: 3.07em;
	width: 100%;
	border-top:solid 4px #DFDFDF;
	margin:0;
	position:relative;
	z-index:300;
	clear:both;
}
#footer-search-wrapper #footer-search-container {
	width:73.38em;
	margin:0 auto;
}
#footer-search-wrapper #footer-search {
	width:16.38em;
	margin:.3em auto 0 auto;
	float:right;
}
#footer-links-wrapper {
	height:100%;
	width: 100%;
	background: #EDEDED url('http://www.suntimes.com/csp/cms/sites/STM/assets/img/footer-backgrounds.jpg') repeat-x 0 -40px;
	border-top:solid 1px #fff;
	padding:0 0 1.6em 0;
	position:relative;
	z-index:300;
}
#footer-links-wrapper #footer-links-content {
	width:73.38em;
	margin:0 auto;
}
#footer-links-content div {
	float:left;
}
#footer-links-content div.divided {
	background:url('http://www.suntimes.com/csp/cms/sites/STM/assets/img/footer-links-divider.jpg') no-repeat right 0;
}
#footer-links-content div.padded {
	padding:0 0 0 1em;
}
#footer-links-content div.site {
	width: 16em;
} /*Orignal width {width:12.3em;}
#footer-links-content div.paper {
	width:11em;
	padding:0 0 0 2em;
} /*Orignal width {width:14.29em;} 
#footer-links-content div.affiliates {
	width:13em;
	padding:0 0 0 2em;
} /*Orignal width {width:11.92em;} 
#footer-links-content div.express-links {
	width:11.5em;
	padding:0 0 0 2em;
} /*Orignal width {width:13.84em;} */

/*
#footer-links-content div.partners {
	width:12em;
	padding:0 0 0 2em;
}
#footer-links-content div h4 {
	color:#272323;
	font-size:1.13em;
	margin:1.30em 0 .9em 0;
}
#footer-links-content ul li a {
	display:block;
	color:#5D5B5B;
	font-size: 1.00em;/*.84*/
	text-decoration:none;
	padding:.4em 0;
}
#footer-links-content ul li a:hover {
	color:#000;
}
#sub-footer-wrapper {
	background:#f1f1f1;
	width: 100%;
	border-top:solid 4px #dfdfdf;
	border-bottom:solid 2px #dfdfdf;
}
#sub-footer-content {
	width:73.38em;
	margin:0 auto;
	height:7.69em;
}
#sub-footer-content .stm-logo {
	background-image: url('http://www.suntimes.com/csp/cms/sites/STM/assets/img/stm-logo.png');
	height: 39px;
	width: 153px;
	display: block;
	float:left;
	margin:1.40em 0 0 0;
}
#sub-footer-content ul {
	float:left;
	padding: 0 0 0 0;
}
#sub-footer-content ul li {
	float: left;
	color:#8B8B8B;
	font-size: 1.00em;/*.84*/
	padding:0 0 0 5px;
	margin:0 5px 0 0;
}
#sub-footer-content ul li a {
	border-left: 1px solid #8B8B8B;
	text-decoration:none;
	color:#8B8B8B;
	padding:0 0 0 5px;
}
#sub-footer-content ul li a:hover {
	color:#333;
}
#sub-footer-content .yahoo {
	background-image: url('http://www.suntimes.com/csp/cms/sites/STM/assets/img/yahoo-logo.png');
	height: 17px;
	width: 91px;
	display: block;
	float:left;
	margin:2.92em 0 0 4em;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed,
.video-container script{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}